n8n/workflows/social-media-content-generator.json
[{"updatedAt":"2026-06-04T13:24:07.552Z","createdAt":"2026-06-03T17:27:16.659Z","id":"6FVi3zG0O6mucCRu","name":"Social Media Content Generator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"7077da9b-54eb-4368-a7cf-31fb686a1c26","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"f80866e7-e017-40ba-a6ef-29769503141f","name":"source_material","value":"Online learning in 2026 makes education accessible to everyone. Students learn at their own pace. Top university certifications now available online. Average 30% salary increase after completing online courses.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"7a2f0d21-f853-403f-b07c-01d93fb20d55","name":"Source Material (Set Node)"},{"parameters":{"method":"POST","url":"http://localhost:11434/api/generate","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"llama3\",\n  \"prompt\": \"You are a social media manager for an education brand. Take this source material and create content for Instagram, LinkedIn, TikTok, YouTube and Facebook. Return valid JSON only with keys: instagram, linkedin, tiktok, youtube, facebook. Each platform should have a caption/post, hashtags where relevant, and a CTA.\\n\\nSource material: Online learning in 2026 makes education accessible to everyone. Students learn at their own pace. Top university certifications now available online. Average 30% salary increase after completing online courses.\",\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.7\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[416,0],"id":"78236e8d-d1f5-4fb0-9f64-0fa31df0d6f9","name":"Generate Content (HTTP Request)"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"460d252a-d580-4df0-a1bc-a3fec5f5cefb","name":"Parse Response (Code Node)"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,0],"id":"b3d5b2e8-4ac3-4db1-aa72-4b5f4e2ec0f7","name":" Save Content (Code Node)"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Source Material (Set Node)","type":"main","index":0}]]},"Source Material (Set Node)":{"main":[[{"node":"Generate Content (HTTP Request)","type":"main","index":0}]]},"Generate Content (HTTP Request)":{"main":[[{"node":"Parse Response (Code Node)","type":"main","index":0}]]},"Parse Response (Code Node)":{"main":[[{"node":" Save Content (Code Node)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"ca1758cb-c645-4a99-a4fd-a2aabe7f78f7","activeVersionId":null,"versionCounter":44,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-03T17:27:16.663Z","createdAt":"2026-06-03T17:27:16.663Z","role":"workflow:owner","workflowId":"6FVi3zG0O6mucCRu","projectId":"CCi7EG5r2BEZUpTu","project":{"updatedAt":"2026-06-02T15:47:33.483Z","createdAt":"2026-06-02T15:41:55.325Z","id":"CCi7EG5r2BEZUpTu","name":"Hari  Om <hariom.sharmax2@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a4eebd0a-5591-4a3f-ab0f-8499b961eeed"}}]}]